# Regular Expressions

In [1]:
import re
import pandas as pd

Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [5]:
string='Python Exercises, PHP exercises.'
replace=re.sub('[\W+\s]',':',string)
print(replace)

Python:Exercises::PHP:exercises:

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [ ]:
pattern = r'\w{4}'
regex_pattern=re.compile(pattern)
result=regex_pattern.findall(string)
print(result)

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [ ]:
pattern = r'\w{3,5}'
regex_pattern=re.compile(pattern)
result=regex_pattern.findall(target_string)
print(result)

Question 7- Write a regular expression in Python to split a string into uppercase letters.

In [14]:
Sample_text =  'ImportanceOfRegularExpressionsInPython'
pattern = '[A-Z][^A-Z]*'
result = re.findall(pattern,Sample_text)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [ ]:
pattern = '^[A-Za-z0-9_]*$'
match_string=re.match[pattern,string]
print(match_string)

Question 12- Write a Python program where a string will start with a specific number.

In [ ]:
pattern=(r'^2')
result=re.findall(pattern,string)
print(result)

Question 13- Write a Python program to remove leading zeros from an IP address

In [ ]:
subs_string=re.sub('\.[0]*','.',IP)
print(subs_string)

Question 10- Use the github link below to read the data and create a dataframe. After creating the
dataframe extract the first 6 letters of each country and store in the dataframe under a new column
called first_five_letters.

In [14]:
df=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv',delimiter=',')
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [15]:
pattern='(\w{6})'
ts=df['Country'].str.extract(pattern)
print(ts)

          0
0    Switze
1    Icelan
2    Denmar
3    Norway
4    Canada
..      ...
153  Rwanda
154     NaN
155     NaN
156  Burund
157     NaN

[158 rows x 1 columns]

In [17]:
df['first_five_letters']=ts
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,NaN
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,NaN
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,NaN

Question 15- Write a Python program to search some literals strings in a string.

In [76]:
Text='The quick brown fox jumps over the lazy dog.'
pattern=['fox','dog','horse']
for i in pattern:
    match = re.search(i,Text)
    print(match)

<re.Match object; span=(16, 19), match='fox'>
<re.Match object; span=(40, 43), match='dog'>
None

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [15]:
text1='The quick brown fox jumps over the lazy dog.'
pattern='fox'
match=re.search(pattern,text1)
print(match)
print(match.start())
print(match.end())

<re.Match object; span=(16, 19), match='fox'>
16
19

Question 17- Write a Python program to find the substrings within a string.

In [75]:
sample_text= 'Python exercises, PHP exercises, C# exercises'
pattern='exercises'
match=re.search(pattern,sample_text)
print(match)

<re.Match object; span=(7, 16), match='exercises'>

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [ ]:
for match in re.finditer(pattern,text):
    print(match)
    print(match.start())
    print(match.end())

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [81]:
date='1999-11-16'
pattern='(\d{4})-(\d{1,2})-(\d{1,2})'
replace=re.sub(pattern,'\\3-\\2-\\1',date)
print(replace)

16-11-1999

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [76]:
str1= "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern=r'(\d+\.\d{1,2})'
r=re.compile(pattern)
result=r.findall(str1)
print(result)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [ ]:
pattern='\d+'
for match in re.finditer(pattern,text):
    print(match.group(0))
    print(match.start())

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

In [17]:
Sample_Text= '947, 896, 926, 524, 734, 950, 642'
pattern='\d+'
numbers=re.findall(pattern,Sample_Text)
max_num=max(numbers)
print(max_num)

950

Question 23- Create a function in python to insert spaces between words starting with capital letters.

In [27]:
Sample_Text='RegularExpressionIsAnImportantTopicInPython'
pattern=r'([A-Z][a-z]+)'
output=re.sub(pattern,r' \1',Sample_Text)
print(output)

 Regular Expression Is An Important Topic In Python

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [ ]:
pattern='[A-Z]+[a-z]+$'
result=re.findall(pattern,text)
print(result)

Question 26- Write a python program using RegEx to accept string ending with alphanumeric character.

In [ ]:
pattern='\w+$'
result=re.search(pattern,text)
print(result)

Question 29- Write a python program to extract dates from the text stored in the text file.

In [77]:
Sample_Text='Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.'
pattern=r'\d{2}-\d{2}-\d{4}'
date=re.findall(pattern,Sample_Text)
print(date)

['12-09-1992', '15-12-1999']