In [2]:
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import pandas as pd
import requests

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A) RankB) NameC) ArtistD) Upload dateE) Views

In [9]:
driver=webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [11]:
Rank=[]
Name=[]
Artist=[]
Upload_Date=[]
Views=[]

In [12]:
name=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]//tbody/tr/td[1]')
for i in name:
    Name.append(i.text)
    
artist=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]//tbody/tr/td[2]')
for i in artist:
    Artist.append(i.text)
    
ud=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]//tbody/tr/td[3]')
for i in ud:
    Upload_Date.append(i.text)
    
views=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]//tbody/tr/td[4]')
for i in views:
    Views.append(i.text)

In [18]:
len(Name),len(Artist),len(Upload_Date),len(Views)

(30, 30, 30, 30)

In [15]:
Videos=pd.DataFrame({'Name':Name,'Artist':Artist,'Upload_Date':Upload_Date,'Views':Views})
Videos

,Name,Artist,Upload_Date,Views
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,14.09,"June 17, 2016"
1,"""Despacito""[9]",Luis Fonsi,8.38,"January 12, 2017"
2,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.87,"October 8, 2016"
3,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.62,"May 2, 2018"
4,"""Shape of You""[19]",Ed Sheeran,6.20,"January 30, 2017"
5,"""See You Again""[22]",Wiz Khalifa,6.17,"April 6, 2015"
6,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.88,"May 24, 2018"
7,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.70,"March 6, 2014"
8,"""Uptown Funk""[29]",Mark Ronson,5.15,"November 19, 2014"
9,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,5.07,"February 27, 2018"
10,"""Gangnam Style""[31]",Psy,5.05,"July 15, 2012"
11,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.58,"January 31, 2012"
12,"""Dame Tu Cosita""[37]",Ultra Records,4.55,"April 5, 2018"
13,"""Axel F""[38]",Crazy Frog,4.34,"June 16, 2009"
14,"""Sugar""[39]",Maroon 5,4.00,"January 14, 2015"
15,"""Counting Stars""[40]",OneRepublic,3.97,"May 31, 2013"
16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,3.96,"June 25, 2018"
17,"""Roar""[42]",Katy Perry,3.96,"September 5, 2013"
18,"""Lakdi Ki Kathi""[43]",Jingle Toons,3.91,"June 14, 2018"
19,"""Waka Waka (This Time for Africa)""[44]",Shakira,3.85,"June 4, 2010"
20,"""Sorry""[45]",Justin Bieber,3.77,"October 22, 2015"
21,"""Thinking Out Loud""[46]",Ed Sheeran,3.73,"October 7, 2014"
22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.73,"January 26, 2018"
23,"""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,3.69,"May 10, 2011"
24,"""Dark Horse""[49]",Katy Perry,3.67,"February 20, 2014"
25,"""Perfect""[50]",Ed Sheeran,3.67,"November 9, 2017"
26,"""Let Her Go""[51]",Passenger,3.61,"July 25, 2012"
27,"""Faded""[52]",Alan Walker,3.59,"December 3, 2015"
28,"""Girls Like You""[53]",Maroon 5,3.56,"May 31, 2018"
29,"""Lean On""[54]",Major Lazer Official,3.55,"March 22, 2015"

# 2. Scrape the details team India’s international fixtures from bcci.tv.Url = https://www.bcci.tv/.You need to find following details:A) Series B) Place C)Date D) Time Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [2]:
driver=webdriver.Chrome()
driver.get('https://www.bcci.tv/.You')

In [3]:
Match=[]
Series=[]
Place=[]
Date=[]
Time_Note=[]

In [4]:
fix=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fix.click()

In [5]:
match=driver.find_elements(By.XPATH,'//div[@class="tags-wrap"]//span[1]')
for i in match:
    Match.append(i.text)
    
len(Match),Match

(7,
 ['4th Test',
  '5th Test',
  '1st T20I',
  '2nd T20I',
  '3rd T20I',
  '4th T20I',
  '5th T20I'])

In [6]:
series=driver.find_elements(By.XPATH,'//div[@class="match-info"]//h5')
for i in series:
    Series.append(i.text)
    
len(Series),Series

(7,
 ['ENGLAND TOUR OF INDIA 2023-24',
  'ENGLAND TOUR OF INDIA 2023-24',
  'INDIA TOUR OF ZIMBABWE 2024',
  'INDIA TOUR OF ZIMBABWE 2024',
  'INDIA TOUR OF ZIMBABWE 2024',
  'INDIA TOUR OF ZIMBABWE 2024',
  'INDIA TOUR OF ZIMBABWE 2024'])

In [7]:
place=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in place:
    Place.append(i.text)
    
len(Place),Place

(7,
 ['JSCA International Stadium Complex, Ranchi',
  'Himachal Pradesh Cricket Association Stadium, Dharamsala',
  'Harare Sports Club, Harare',
  'Harare Sports Club, Harare',
  'Harare Sports Club, Harare',
  'Harare Sports Club, Harare',
  'Harare Sports Club, Harare'])

In [8]:
date=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date:
    Date.append(i.text)
    
len(Date),Date

(7,
 ['23 FEBRUARY, 2024',
  '7 MARCH, 2024',
  '6 JULY, 2024',
  '7 JULY, 2024',
  '10 JULY, 2024',
  '13 JULY, 2024',
  '14 JULY, 2024'])

In [9]:
time=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time:
    Time_Note.append(i.text)
    
len(Time_Note),Time_Note

(7,
 ['9:30 AM IST',
  '9:30 AM IST',
  '8:00 PM IST',
  '8:00 PM IST',
  '8:00 PM IST',
  '8:00 PM IST',
  '8:00 PM IST'])

In [10]:
matches=pd.DataFrame({'Match':Match,'Series':Series,'Place':Place,'Date':Date,'Time_Note':Time_Note})
matches

,Match,Series,Place,Date,Time_Note
0,4th Test,ENGLAND TOUR OF INDIA 2023-24,"JSCA International Stadium Complex, Ranchi","23 FEBRUARY, 2024",9:30 AM IST
1,5th Test,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024",9:30 AM IST
2,1st T20I,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
3,2nd T20I,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
4,3rd T20I,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
5,4th T20I,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
6,5th T20I,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.Url = http://statisticstimes.com/ You have to find following details: A) Rank B) State C) GSDP(18-19)- at current prices D) GSDP(19-20)- at current prices E) Share(18-19) F) GDP($ billion) Note: - From statisticstimes home page you have to reach to economy page through code.

In [2]:
driver=webdriver.Chrome()
driver.get('http://statisticstimes.com/')

In [3]:
Rank=[]
State=[]
GSDP_Current=[]
GSDP_Previous=[]
Share_In_GDP=[]
GDP=[]

In [4]:
economy=driver.find_element(By.XPATH,'//div[@class="navbar"]//div[2]/button')
economy.click()

In [5]:
india=driver.find_element(By.XPATH,'//div[@class="navbar"]//div[2]/div/a[3]')
india.click()

In [6]:
gdp=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp.click()

In [7]:
r = driver.find_elements(By.XPATH,'//*[@id="table_id"]//tbody/tr/td[1]')
for i in r:
    if i.text is None:
        Rank.append('-')
    else:
        Rank.append(i.text)
        
len(Rank),print(Rank)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33']

(33, None)

In [8]:
st=driver.find_elements(By.XPATH,'//*[@id="table_id"]//tbody/tr/td[2]')
for i in st:
    if i.text is None:
        State.append('-')
    else:
        State.append(i.text)
        
len(State),print(State)

['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Karnataka', 'Gujarat', 'West Bengal', 'Rajasthan', 'Madhya Pradesh', 'Andhra Pradesh', 'Telangana', 'Kerala', 'Delhi', 'Haryana', 'Odisha', 'Bihar', 'Punjab', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir-UT', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Arunachal Pradesh', 'Nagaland', 'Mizoram', 'Andaman & Nicobar Islands']

(33, None)

In [9]:
gc=driver.find_elements(By.XPATH,'//*[@id="table_id"]//tbody/tr/td[3]')
for i in gc:
    if i.text is None:
        GSDP_Current.append('-')
    else:
        GSDP_Current.append(i.text)
        
len(GSDP_Current),print(GSDP_Current)

['-', '2,364,514', '2,257,575', '2,241,368', '-', '1,554,992', '1,413,620', '1,322,821', '1,317,728', '1,313,391', '-', '1,043,759', '994,154', '774,869', '751,396', '673,107', '493,167', '457,608', '393,722', '302,621', '227,927', '195,405', '-', '72,636', '-', '-', '42,697', '42,756', '-', '-', '-', '-', '-']

(33, None)

In [10]:
gp=driver.find_elements(By.XPATH,'//*[@id="table_id"]//tbody/tr/td[4]')
for i in gp:
    if i.text is None:
        GSDP_Previous.append('-')
    else:
        GSDP_Previous.append(i.text)
        
len(GSDP_Previous),print(GSDP_Previous)

['3,108,022', '2,071,286', '1,974,532', '1,962,725', '1,937,066', '1,363,926', '1,218,193', '1,136,137', '1,133,837', '1,128,907', '932,470', '904,642', '870,665', '670,881', '650,302', '614,227', '412,612', '406,416', '358,863', '272,159', '199,917', '176,269', '82,604', '62,550', '45,635', '44,238', '38,785', '37,557', '36,594', '35,124', '31,913', '27,824', '10,371']

(33, None)

In [11]:
sg=driver.find_elements(By.XPATH,'//*[@id="table_id"]//tbody/tr/td[5]')
for i in sg:
    if i.text is None:
        Share_In_GDP.append('-')
    else:
        Share_In_GDP.append(i.text)
        
len(Share_In_GDP),print(Share_In_GDP)

['13.24%', '8.82%', '8.41%', '8.36%', '8.25%', '5.81%', '5.19%', '4.84%', '4.83%', '4.81%', '3.97%', '3.85%', '3.71%', '2.86%', '2.77%', '2.62%', '1.76%', '1.73%', '1.53%', '1.16%', '0.85%', '0.75%', '0.35%', '0.27%', '0.19%', '0.19%', '0.17%', '0.16%', '0.16%', '0.15%', '0.14%', '0.12%', '0.04%']

(33, None)

In [12]:
gd=driver.find_elements(By.XPATH,'//*[@id="table_id"]//tbody/tr/td[6]')
for i in gd:
    if i.text is None:
        GDP.append('-')
    else:
        GDP.append(i.text)
        
len(GDP),print(GDP)

['417.163', '278.011', '265.024', '263.440', '259.996', '183.068', '163.507', '152.494', '152.185', '151.523', '125.157', '121.422', '116.862', '90.047', '87.284', '82.442', '55.381', '54.550', '48.167', '36.530', '26.833', '23.659', '11.087', '8.396', '6.125', '5.938', '5.206', '5.041', '4.912', '4.714', '4.283', '3.735', '1.392']

(33, None)

In [14]:
State_GDP=pd.DataFrame({'Rank':Rank,'State':State,'GSDP_Current':GSDP_Current,'GSDP_Previous':GSDP_Previous,'Share_In_GDP':Share_In_GDP,'GDP':GDP})
State_GDP

,Rank,State,GSDP_Current,GSDP_Previous,Share_In_GDP,GDP
0,1,Maharashtra,-,"3,108,022",13.24%,417.163
1,2,Tamil Nadu,"2,364,514","2,071,286",8.82%,278.011
2,3,Uttar Pradesh,"2,257,575","1,974,532",8.41%,265.024
3,4,Karnataka,"2,241,368","1,962,725",8.36%,263.440
4,5,Gujarat,-,"1,937,066",8.25%,259.996
5,6,West Bengal,"1,554,992","1,363,926",5.81%,183.068
6,7,Rajasthan,"1,413,620","1,218,193",5.19%,163.507
7,8,Madhya Pradesh,"1,322,821","1,136,137",4.84%,152.494
8,9,Andhra Pradesh,"1,317,728","1,133,837",4.83%,152.185
9,10,Telangana,"1,313,391","1,128,907",4.81%,151.523
10,11,Kerala,-,"932,470",3.97%,125.157
11,12,Delhi,"1,043,759","904,642",3.85%,121.422
12,13,Haryana,"994,154","870,665",3.71%,116.862
13,14,Odisha,"774,869","670,881",2.86%,90.047
14,15,Bihar,"751,396","650,302",2.77%,87.284
15,16,Punjab,"673,107","614,227",2.62%,82.442
16,17,Assam,"493,167","412,612",1.76%,55.381
17,18,Chhattisgarh,"457,608","406,416",1.73%,54.550
18,19,Jharkhand,"393,722","358,863",1.53%,48.167
19,20,Uttarakhand,"302,621","272,159",1.16%,36.530
20,21,Jammu & Kashmir-UT,"227,927","199,917",0.85%,26.833
21,22,Himachal Pradesh,"195,405","176,269",0.75%,23.659
22,23,Goa,-,"82,604",0.35%,11.087
23,24,Tripura,"72,636","62,550",0.27%,8.396
24,25,Chandigarh,-,"45,635",0.19%,6.125
25,26,Puducherry,-,"44,238",0.19%,5.938
26,27,Meghalaya,"42,697","38,785",0.17%,5.206
27,28,Sikkim,"42,756","37,557",0.16%,5.041
28,29,Manipur,-,"36,594",0.16%,4.912
29,30,Arunachal Pradesh,-,"35,124",0.15%,4.714
30,31,Nagaland,-,"31,913",0.14%,4.283
31,32,Mizoram,-,"27,824",0.12%,3.735
32,33,Andaman & Nicobar Islands,-,"10,371",0.04%,1.392

# 4. Scrape the details of trending repositories on Github.com. Url =https://github.com/ You have to find the following details:A) Repository title B)Repository description C)Contributors count D) Language used Note: - From the home page you have to click on the trending option from Explore menu through code.

In [11]:
driver=webdriver.Chrome()
driver.get('https://github.com/')

In [13]:
source=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
source.click()

In [14]:
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [15]:
Title=[]
Description=[]
Contributors_Count=[]
Language_Used=[]

In [16]:
title=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in title:
    if i.text is None:
        Title.append('-')
    else:
        Title.append(i.text)
        
len(Title),print(Title)

['google /', 'google /', 'SoraWebui /', 'zed-industries /', 'facebook /', 'all-in-aigc /', 'jackfrued /', 'levihsu /', 'FujiwaraChoki /', 'mtkarimi /', 'localsend /', 'xiaolai /', 'google-deepmind /', 'zhayujie /', 'lobehub /', 'soufianetahiri /', 'weijunext /', 'keep-starknet-strange /', 'facebook /', 'open-telemetry /', 'songquanpeng /', 'ollama /', 'lencx /', 'starknet-io /', 'Azure-Samples /']

(25, None)

In [17]:
ds=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in ds:
    if i.text is None:
        Description.append('-')
    else:
        Description.append(i.text)
        
len(Description),print(Description)

["The official PyTorch implementation of Google's Gemma models", "lightweight, standalone C++ inference engine for Google's Gemma models.", "SoraWebui is an open-source Sora web client, enabling users to easily create videos from text with OpenAI's Sora model.", 'Code at the speed of thought – Zed is a high-performance, multiplayer code editor from the creators of Atom and Tree-sitter.', 'React Strict DOM (RSD) is a subset of React DOM, imperative DOM, and CSS that supports web and native targets', 'Sora AI Video Generator by Sora.FM', 'Python - 100天从新手到大师', 'Official implementation of OOTDiffusion: Outfitting Fusion based Latent Diffusion for Controllable Virtual Try-on', 'Automate the process of making money online.', 'An open-source cross-platform alternative to AirDrop', '人人都能用英语', 'Open weights LLM from Google DeepMind.', '基于大模型搭建的微信聊天机器人，同时支持微信、企业微信、公众号、飞书、钉钉接入，可选择GPT3.5/GPT4.0/Claude/文心一言/讯飞星火/通义千问/Gemini/GLM-4/LinkAI，能处理文本、语音和图片，访问操作系统和互联网，支持基于自有知识库进行定制企业智能客服。', '🤯 Lobe Chat - an open-source, modern-design ChatGPT/LLMs UI/Framework. Supports speech-synthesis, multi-modal, and extensible plugin system. One-click FREE deployment of your private ChatGPT/Gemini/Ollama chat application.', 'I-SOON/Anxun leak related stuff', '收录独立开发者出海技术栈和工具', 'A curated list of awesome StarkNet resources, libraries, tools and more', 'A framework for building native applications using React', 'The OpenTelemetry C++ Client', 'OpenAI 接口管理 & 分发系统，支持 Azure、Anthropic Claude、Google PaLM 2 & Gemini、智谱 ChatGLM、百度文心一言、讯飞星火认知、阿里通义千问、360 智脑以及腾讯混元，可用于二次分发管理 key，仅单可执行文件，已打包好 Docker 镜像，一键部署，开箱即用. OpenAI key management & redistribution system, using a single API for all LLMs, and features an English UI.', 'Get up and running with Llama 2, Mistral, Gemma, and other large language models.', '🚀 Power Your World with AI - Explore, Extend, Empower.', 'Lists of eligible identities for Starknet provisions.', 'A sample app for the Retrieval-Augmented Generation pattern running in Azure, using Azure AI Search for retrieval and Azure OpenAI large language models to power ChatGPT-style and Q&A experiences.']

(24, None)

In [18]:
lu=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in lu:
    if i.text is None:
        Language_Used.append('-')
    else:
        Language_Used.append(i.text)
        
len(Language_Used),print(Language_Used)

['Python', 'C++', 'TypeScript', 'Rust', 'JavaScript', 'TypeScript', 'Python', 'Python', 'Python', 'Python', 'Dart', 'Jupyter Notebook', 'Jupyter Notebook', 'Python', 'TypeScript', 'Python', 'C++', 'C++', 'JavaScript', 'Go', 'JavaScript', 'Python']

(22, None)

In [19]:
cc=driver.find_elements(By.XPATH,'//*[@class="Box-row"]//div[2]/a[2]')
for i in cc:
    if i.text is None:
        Contributors_Count.append('-')
    else:
        Contributors_Count.append(i.text)
        
len(Contributors_Count),print(Contributors_Count)

['267', '164', '228', '976', '94', '152', '50,797', '262', '137', '92', '1,416', '2,982', '121', '6,161', '3,976', '97', '159', '280', '23,730', '359', '2,419', '2,487', '115', '75', '2,977']

(25, None)

In [21]:
GitHub=pd.DataFrame({'Title':Title[:20],'Description':Description[:20],'Language_Used':Language_Used[:20],'Contributors_Count':Contributors_Count[:20]})
GitHub

,Title,Description,Language_Used,Contributors_Count
0,google /,The official PyTorch implementation of Google'...,Python,267
1,google /,"lightweight, standalone C++ inference engine f...",C++,164
2,SoraWebui /,"SoraWebui is an open-source Sora web client, e...",TypeScript,228
3,zed-industries /,Code at the speed of thought – Zed is a high-p...,Rust,976
4,facebook /,React Strict DOM (RSD) is a subset of React DO...,JavaScript,94
5,all-in-aigc /,Sora AI Video Generator by Sora.FM,TypeScript,152
6,jackfrued /,Python - 100天从新手到大师,Python,"50,797"
7,levihsu /,Official implementation of OOTDiffusion: Outfi...,Python,262
8,FujiwaraChoki /,Automate the process of making money online.,Python,137
9,mtkarimi /,An open-source cross-platform alternative to A...,Python,92
10,localsend /,人人都能用英语,Dart,"1,416"
11,xiaolai /,Open weights LLM from Google DeepMind.,Jupyter Notebook,"2,982"
12,google-deepmind /,基于大模型搭建的微信聊天机器人，同时支持微信、企业微信、公众号、飞书、钉钉接入，可选择GPT...,Jupyter Notebook,121
13,zhayujie /,"🤯 Lobe Chat - an open-source, modern-design Ch...",Python,"6,161"
14,lobehub /,I-SOON/Anxun leak related stuff,TypeScript,"3,976"
15,soufianetahiri /,收录独立开发者出海技术栈和工具,Python,97
16,weijunext /,"A curated list of awesome StarkNet resources, ...",C++,159
17,keep-starknet-strange /,A framework for building native applications u...,C++,280
18,facebook /,The OpenTelemetry C++ Client,JavaScript,"23,730"
19,open-telemetry /,OpenAI 接口管理 & 分发系统，支持 Azure、Anthropic Claude、G...,Go,359

# 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details: A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on boardNote: - From the home page you have to click on the charts option then hot 100-page link through code.

In [2]:
driver=webdriver.Chrome()
driver.get('https:/www.billboard.com/')

In [3]:
charts = driver.find_element(By.XPATH,'//*[@id="mega-menu-item-charts"]//a')       # Locating page foe top videos by xpath
charts.click()

In [4]:
view=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
view.click()

In [5]:
Rank=[]
Song_Name=[]
Artist_Name=[]
Last_Week_Rank=[]
Peak_Rank=[]
Weeks_On_Board=[]

In [6]:
r=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]')
for i in r:
    if i.text is None:
        Rank.append('-')
    else:
        Rank.append(i.text)
        
len(Rank),print(Rank)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100']

(100, None)

In [7]:
sn=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//ul/li/h3')
for i in sn:
    if i.text is None:
        Song_Name.append('-')
    else:
        Song_Name.append(i.text)

len(Song_Name),print(Song_Name)

['Lovin On Me', "Texas Hold 'Em", 'Carnival', 'Beautiful Things', 'Lose Control', 'Cruel Summer', 'Snooze', 'I Remember Everything', 'Greedy', 'Stick Season', 'Fast Car', 'Agora Hills', 'Water', 'Last Night', 'Redrum', "Thinkin' Bout Me", 'Flowers', "Is It Over Now? (Taylor's Version) [From The Vault]", 'Paint The Town Red', 'Yeah!', 'Never Lose Me', 'La Diabla', 'Fuk Sumn', 'Pretty Little Poison', 'Houdini', 'Back To Me', 'What Was I Made For?', 'Forever', 'Where The Wild Things Are', 'Talking', 'Yes, And?', 'Made For Me', 'Burn', 'Vultures', 'The Painter', 'Good Good', 'Selfish', '16 Carriages', 'Stars', 'Everybody', 'Rich Baby Daddy', 'Feather', 'Vampire', 'On My Mama', 'Wild Ones', 'Dance The Night', 'Save Me', 'Hiss', 'Exes', 'Need A Favor', 'Truck Bed', 'Do It', 'Paid', 'Surround Sound', 'Keys To My Life', 'World On Fire', 'First Person Shooter', 'La Victima', 'Get In With Me', 'Burn It Down', 'Standing Next To You', 'Think U The Shit (Fart)', 'Praise Jah In The Moonlight', 'Paperwork', 'Beg Forgiveness', 'Man Made A Bar', 'Hoodrat', 'One Call', 'Igual Que Un Angel', 'Spin You Around (1/24)', 'FTCU', 'One Of The Girls', 'Murder On The Dancefloor', 'You Broke My Heart', 'Northern Attitude', 'FE!N', '23', 'Bandit', 'Problematic', 'Nee-nah', 'Act II: Date @ 8', 'I Can Feel It', "Mamaw's House", 'Soak City', 'Harley Quinn', "You're Gonna Go Far", 'Bellakeo', 'IDGAF', 'Yeah Glo!', "Different 'Round Here", 'She Calls Me Back', "We Don't Fight Anymore", "Good (Don't Die)", 'King', 'Coal', 'Mmhmm', 'Monaco', 'Prove It', 'Perro Negro', 'Sunday Service']

(100, None)

In [8]:
an=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//ul[1]/li[4]/ul[1]/li[1]/span')
for i in an:
    if i.text is None:
        Artist_Name.append('-')
    else:
        Artist_Name.append(i.text)
        
len(Artist_Name),print(Artist_Name)

['Jack Harlow', 'Beyonce', '¥$: Kanye West & Ty Dolla $ign', 'Benson Boone', 'Teddy Swims', 'Taylor Swift', 'SZA', 'Zach Bryan Featuring Kacey Musgraves', 'Tate McRae', 'Noah Kahan', 'Luke Combs', 'Doja Cat', 'Tyla', 'Morgan Wallen', '21 Savage', 'Morgan Wallen', 'Miley Cyrus', 'Taylor Swift', 'Doja Cat', 'Usher Featuring Lil Jon & Ludacris', 'Flo Milli', 'Xavi', '¥$: Kanye West & Ty Dolla $ign', 'Warren Zeiders', 'Dua Lipa', '¥$: Kanye West & Ty Dolla $ign', 'Billie Eilish', 'Noah Kahan', 'Luke Combs', '¥$: Kanye West & Ty Dolla $ign Featuring North West', 'Ariana Grande', 'Muni Long', '¥$: Kanye West & Ty Dolla $ign', '¥$: Kanye West & Ty Dolla $ign Featuring Lil Durk & Bump J', 'Cody Johnson', 'Usher, Summer Walker & 21 Savage', 'Justin Timberlake', 'Beyonce', '¥$: Kanye West & Ty Dolla $ign', 'Nicki Minaj Featuring Lil Uzi Vert', 'Drake Featuring Sexyy Red & SZA', 'Sabrina Carpenter', 'Olivia Rodrigo', 'Victoria Monet', 'Jessie Murph & Jelly Roll', 'Dua Lipa', 'Jelly Roll With Lainey Wilson', 'Megan Thee Stallion', 'Tate McRae', 'Jelly Roll', 'HARDY', '¥$: Kanye West & Ty Dolla $ign', '¥$: Kanye West & Ty Dolla $ign', 'JID Featuring 21 Savage & Baby Tate', '¥$: Kanye West & Ty Dolla $ign', 'Nate Smith', 'Drake Featuring J. Cole', 'Xavi', 'BossMan Dlow', 'Parker McCollum', 'Jung Kook', 'Ice Spice', 'YG Marley', '¥$: Kanye West & Ty Dolla $ign', '¥$: Kanye West & Ty Dolla $ign', 'Morgan Wallen Featuring Eric Church', '¥$: Kanye West & Ty Dolla $ign', 'Rich Amiri', 'Kali Uchis & Peso Pluma', 'Morgan Wallen', 'Nicki Minaj', 'The Weeknd, Jennie & Lily Rose Depp', 'Sophie Ellis-Bextor', 'Drake', 'Noah Kahan With Hozier', 'Travis Scott Featuring Playboi Carti', 'Chayce Beckham', 'Don Toliver', '¥$: Kanye West & Ty Dolla $ign', '21 Savage, Travis Scott & Metro Boomin', '4Batz', 'Kane Brown', 'Thomas Rhett Featuring Morgan Wallen', '310babii', 'Fuerza Regida & Marshmello', 'Noah Kahan', 'Peso Pluma & Anitta', 'Drake Featuring Yeat', 'GloRilla', 'Riley Green Featuring Luke Combs', 'Noah Kahan With Kacey Musgraves', 'Carly Pearce Featuring Chris Stapleton', '¥$: Kanye West & Ty Dolla $ign', '¥$: Kanye West & Ty Dolla $ign', 'Dylan Gossett', 'BigXthaPlug', 'Bad Bunny', '21 Savage & Summer Walker', 'Bad Bunny & Feid', 'Latto']

(100, None)

In [9]:
lw=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//ul[1]/li[4]/ul/li[4]/span')
for i in lw:
    if i.text is None:
        Last_Week_Rank.append('-')
    else:
        Last_Week_Rank.append(i.text)
        
len(Last_Week_Rank),print(Last_Week_Rank)

['1', '-', '-', '3', '2', '4', '5', '6', '7', '11', '8', '9', '12', '15', '14', '16', '10', '18', '17', '-', '19', '25', '-', '24', '22', '-', '20', '-', '26', '-', '21', '28', '-', '-', '30', '45', '23', '-', '-', '27', '32', '36', '29', '33', '35', '37', '40', '13', '34', '39', '46', '-', '-', '48', '-', '44', '47', '56', '68', '55', '81', '52', '60', '-', '-', '63', '-', '64', '53', '51', '54', '57', '59', '65', '97', '69', '74', '38', '-', '58', '61', '73', '78', '76', '67', '-', '70', '72', '-', '66', '-', '79', '-', '-', '86', '83', '77', '75', '82', '-']

(100, None)

In [11]:
pr=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//ul[1]/li[4]/ul/li[5]/span')
for i in pr:
    if i.text is None:
        Peak_Rank.append('-')
    else:
        Peak_Rank.append(i.text)
        
len(Peak_Rank),print(Peak_Rank)

['1', '2', '3', '3', '2', '1', '2', '1', '3', '10', '2', '7', '7', '1', '5', '7', '1', '1', '1', '1', '18', '20', '23', '24', '11', '26', '14', '28', '26', '30', '1', '28', '33', '34', '30', '25', '19', '38', '39', '24', '11', '36', '1', '33', '35', '6', '19', '1', '34', '13', '36', '52', '53', '40', '55', '21', '1', '46', '59', '52', '5', '37', '60', '64', '65', '15', '67', '64', '22', '24', '15', '57', '51', '11', '37', '5', '64', '38', '79', '10', '59', '59', '55', '61', '40', '86', '53', '2', '89', '60', '76', '67', '93', '94', '86', '65', '5', '43', '20', '100']

(100, None)

In [12]:
wb=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//ul[1]/li[4]/ul/li[6]/span')
for i in wb:
    if i.text is None:
        Weeks_On_Board.append('-')
    else:
        Weeks_On_Board.append(i.text)
        
len(Weeks_On_Board),print(Weeks_On_Board)

['14', '1', '1', '4', '27', '41', '61', '25', '22', '20', '47', '21', '20', '55', '5', '50', '52', '16', '28', '46', '9', '9', '1', '23', '14', '1', '30', '1', '13', '1', '5', '5', '1', '1', '19', '27', '3', '1', '1', '10', '19', '11', '30', '22', '19', '33', '32', '3', '13', '44', '35', '1', '1', '14', '1', '16', '19', '9', '2', '17', '15', '3', '3', '1', '1', '21', '1', '3', '5', '3', '10', '8', '7', '13', '11', '16', '7', '2', '1', '5', '6', '7', '7', '9', '15', '1', '9', '19', '1', '11', '2', '9', '1', '1', '6', '8', '18', '5', '15', '1']

(100, None)

In [13]:
Songs=pd.DataFrame({'Rank':Rank,'Song_Name':Song_Name,'Artist_Name':Artist_Name,'Last_Week_Rank':Last_Week_Rank,'Peak_Rank':Peak_Rank,'Weeks_On_Board':Weeks_On_Board})
Songs

,Rank,Song_Name,Artist_Name,Last_Week_Rank,Peak_Rank,Weeks_On_Board
0,1,Lovin On Me,Jack Harlow,1,1,14
1,2,Texas Hold 'Em,Beyonce,-,2,1
2,3,Carnival,¥$: Kanye West & Ty Dolla $ign,-,3,1
3,4,Beautiful Things,Benson Boone,3,3,4
4,5,Lose Control,Teddy Swims,2,2,27
...,...,...,...,...,...,...
95,96,Mmhmm,BigXthaPlug,83,65,8
96,97,Monaco,Bad Bunny,77,5,18
97,98,Prove It,21 Savage & Summer Walker,75,43,5
98,99,Perro Negro,Bad Bunny & Feid,82,20,15
99,100,Sunday Service,Latto,-,100,1

# 6. Scrape the details of Highest selling novels. A) Book name B) Author name C) Volumes sold D) Publisher E) Genre Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [15]:
driver=webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [18]:
Rank=[]
Book_Name=[]
Author_Name=[]
Volumes_Sold=[]
Publisher=[]
Genre=[]

In [19]:
rk=driver.find_elements(By.XPATH,'//div[@class="embed block"]//table/tbody/tr/td[1]')
for i in rk:
    if i.text is None:
        Rank.append('-')
    else:
        Rank.append(i.text)
len(Rank),print(Rank)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100']

(100, None)

In [20]:
bn=driver.find_elements(By.XPATH,'//div[@class="embed block"]//table/tbody/tr/td[2]')
for i in bn:
    if i.text is None:
        Book_Name.append('-')
    else:
        Book_Name.append(i.text)
len(Book_Name),print(Book_Name)

['Da Vinci Code,The', 'Harry Potter and the Deathly Hallows', "Harry Potter and the Philosopher's Stone", 'Harry Potter and the Order of the Phoenix', 'Fifty Shades of Grey', 'Harry Potter and the Goblet of Fire', 'Harry Potter and the Chamber of Secrets', 'Harry Potter and the Prisoner of Azkaban', 'Angels and Demons', "Harry Potter and the Half-blood Prince:Children's Edition", 'Fifty Shades Darker', 'Twilight', 'Girl with the Dragon Tattoo,The:Millennium Trilogy', 'Fifty Shades Freed', 'Lost Symbol,The', 'New Moon', 'Deception Point', 'Eclipse', 'Lovely Bones,The', 'Curious Incident of the Dog in the Night-time,The', 'Digital Fortress', 'Short History of Nearly Everything,A', 'Girl Who Played with Fire,The:Millennium Trilogy', 'Breaking Dawn', 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar', 'Gruffalo,The', "Jamie's 30-Minute Meals", 'Kite Runner,The', 'One Day', 'Thousand Splendid Suns,A', "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy", "Time Traveler's Wife,The", 'Atonement', "Bridget Jones's Diary:A Novel", 'World According to Clarkson,The', "Captain Corelli's Mandolin", 'Sound of Laughter,The', 'Life of Pi', 'Billy Connolly', 'Child Called It,A', "Gruffalo's Child,The", "Angela's Ashes:A Memoir of a Childhood", 'Birdsong', 'Northern Lights:His Dark Materials S.', 'Labyrinth', 'Harry Potter and the Half-blood Prince', 'Help,The', 'Man and Boy', 'Memoirs of a Geisha', "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.", 'Island,The', 'PS, I Love You', 'You are What You Eat:The Plan That Will Change Your Life', 'Shadow of the Wind,The', 'Tales of Beedle the Bard,The', 'Broker,The', "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P", 'Subtle Knife,The:His Dark Materials S.', 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation', "Delia's How to Cook:(Bk.1)", 'Chocolat', 'Boy in the Striped Pyjamas,The', "My Sister's Keeper", 'Amber Spyglass,The:His Dark Materials S.', 'To Kill a Mockingbird', 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin', 'Dear Fatty', 'Short History of Tractors in Ukrainian,A', 'Hannibal', 'Lord of the Rings,The', 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio', 'Interpretation of Murder,The', 'Sharon Osbourne Extreme:My Autobiography', 'Alchemist,The:A Fable About Following Your Dream', "At My Mother's Knee ...:and Other Low Joints", 'Notes from a Small Island', 'Return of the Naked Chef,The', 'Bridget Jones: The Edge of Reason', "Jamie's Italy", 'I Can Make You Thin', 'Down Under', 'Summons,The', 'Small Island', 'Nigella Express', 'Brick Lane', "Memory Keeper's Daughter,The", 'Room on the Broom', 'About a Boy', 'My Booky Wook', 'God Delusion,The', '"Beano" Annual,The', 'White Teeth', 'House at Riverton,The', 'Book Thief,The', 'Nights of Rain and Stars', 'Ghost,The', 'Happy Days with the Naked Chef', 'Hunger Games,The:Hunger Games Trilogy', "Lost Boy,The:A Foster Child's Search for the Love of a Family", "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

(100, None)

In [23]:
an=driver.find_elements(By.XPATH,'//div[@class="embed block"]//table/tbody/tr/td[3]')
for i in an:
    if i.text is None:
        Author_Name.append('-')
    else:
        Author_Name.append(i.text)
len(Author_Name),print(Author_Name)

['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'James, E. L.', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'Brown, Dan', 'Rowling, J.K.', 'James, E. L.', 'Meyer, Stephenie', 'Larsson, Stieg', 'James, E. L.', 'Brown, Dan', 'Meyer, Stephenie', 'Brown, Dan', 'Meyer, Stephenie', 'Sebold, Alice', 'Haddon, Mark', 'Brown, Dan', 'Bryson, Bill', 'Larsson, Stieg', 'Meyer, Stephenie', 'Carle, Eric', 'Donaldson, Julia', 'Oliver, Jamie', 'Hosseini, Khaled', 'Nicholls, David', 'Hosseini, Khaled', 'Larsson, Stieg', 'Niffenegger, Audrey', 'McEwan, Ian', 'Fielding, Helen', 'Clarkson, Jeremy', 'Bernieres, Louis de', 'Kay, Peter', 'Martel, Yann', 'Stephenson, Pamela', 'Pelzer, Dave', 'Donaldson, Julia', 'McCourt, Frank', 'Faulks, Sebastian', 'Pullman, Philip', 'Mosse, Kate', 'Rowling, J.K.', 'Stockett, Kathryn', 'Parsons, Tony', 'Golden, Arthur', 'McCall Smith, Alexander', 'Hislop, Victoria', 'Ahern, Cecelia', 'McKeith, Gillian', 'Zafon, Carlos Ruiz', 'Rowling, J.K.', 'Grisham, John', 'Atkins, Robert C.', 'Pullman, Philip', 'Truss, Lynne', 'Smith, Delia', 'Harris, Joanne', 'Boyne, John', 'Picoult, Jodi', 'Pullman, Philip', 'Lee, Harper', 'Gray, John', 'French, Dawn', 'Lewycka, Marina', 'Harris, Thomas', 'Tolkien, J. R. R.', 'Moore, Michael', 'Rubenfeld, Jed', 'Osbourne, Sharon', 'Coelho, Paulo', "O'Grady, Paul", 'Bryson, Bill', 'Oliver, Jamie', 'Fielding, Helen', 'Oliver, Jamie', 'McKenna, Paul', 'Bryson, Bill', 'Grisham, John', 'Levy, Andrea', 'Lawson, Nigella', 'Ali, Monica', 'Edwards, Kim', 'Donaldson, Julia', 'Hornby, Nick', 'Brand, Russell', 'Dawkins, Richard', '0', 'Smith, Zadie', 'Morton, Kate', 'Zusak, Markus', 'Binchy, Maeve', 'Harris, Robert', 'Oliver, Jamie', 'Collins, Suzanne', 'Pelzer, Dave', 'Oliver, Jamie']

(100, None)

In [24]:
vs=driver.find_elements(By.XPATH,'//div[@class="embed block"]//table/tbody/tr/td[4]')
for i in vs:
    if i.text is None:
        Volumes_Sold.append('-')
    else:
        Volumes_Sold.append(i.text)
len(Volumes_Sold),print(Volumes_Sold)

['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936', '3,583,215', '3,484,047', '3,377,906', '3,193,946', '2,950,264', '2,479,784', '2,315,405', '2,233,570', '2,193,928', '2,183,031', '2,152,737', '2,062,145', '2,052,876', '2,005,598', '1,979,552', '1,928,900', '1,852,919', '1,814,784', '1,787,118', '1,783,535', '1,781,269', '1,743,266', '1,629,119', '1,616,068', '1,583,992', '1,555,135', '1,546,886', '1,539,428', '1,508,205', '1,489,403', '1,352,318', '1,310,207', '1,310,176', '1,231,957', '1,217,712', '1,208,711', '1,204,058', '1,184,967', '1,181,503', '1,181,093', '1,153,181', '1,132,336', '1,130,802', '1,126,337', '1,115,549', '1,108,328', '1,107,379', '1,104,403', '1,092,349', '1,090,847', '1,087,262', '1,054,196', '1,037,160', '1,023,688', '1,015,956', '1,009,873', '1,004,414', '1,003,780', '1,002,314', '998,213', '992,846', '986,753', '986,115', '970,509', '967,466', '963,353', '962,515', '959,496', '956,114', '945,640', '931,312', '925,425', '924,695', '906,968', '905,086', '890,847', '869,671', '869,659', '862,602', '856,540', '845,858', '842,535', '828,215', '820,563', '816,907', '816,585', '815,586', '814,370', '809,641', '808,900', '807,311', '794,201', '792,187', '791,507', '791,095']

(100, None)

In [25]:
pb=driver.find_elements(By.XPATH,'//div[@class="embed block"]//table/tbody/tr/td[5]')
for i in pb:
    if i.text is None:
        Publisher.append('-')
    else:
        Publisher.append(i.text)
len(Publisher),print(Publisher)

['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Transworld', 'Bloomsbury', 'Random House', 'Little, Brown Book', 'Quercus', 'Random House', 'Transworld', 'Little, Brown Book', 'Transworld', 'Little, Brown Book', 'Pan Macmillan', 'Random House', 'Transworld', 'Transworld', 'Quercus', 'Little, Brown Book', 'Penguin', 'Pan Macmillan', 'Penguin', 'Bloomsbury', 'Hodder & Stoughton', 'Bloomsbury', 'Quercus', 'Random House', 'Random House', 'Pan Macmillan', 'Penguin', 'Random House', 'Random House', 'Canongate', 'HarperCollins', 'Orion', 'Pan Macmillan', 'HarperCollins', 'Random House', 'Scholastic Ltd.', 'Orion', 'Bloomsbury', 'Penguin', 'HarperCollins', 'Random House', 'Little, Brown Book', 'Headline', 'HarperCollins', 'Penguin', 'Orion', 'Bloomsbury', 'Random House', 'Random House', 'Scholastic Ltd.', 'Profile Books Group', 'Random House', 'Transworld', 'Random House Childrens Books G', 'Hodder & Stoughton', 'Scholastic Ltd.', 'Random House', 'HarperCollins', 'Random House', 'Penguin', 'Random House', 'HarperCollins', 'Penguin', 'Headline', 'Little, Brown Book', 'HarperCollins', 'Transworld', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Transworld', 'Transworld', 'Random House', 'Headline', 'Random House', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Hodder & Stoughton', 'Transworld', 'D.C. Thomson', 'Penguin', 'Pan Macmillan', 'Transworld', 'Orion', 'Random House', 'Penguin', 'Scholastic Ltd.', 'Orion', 'Penguin']

(100, None)

In [26]:
gr=driver.find_elements(By.XPATH,'//div[@class="embed block"]//table/tbody/tr/td[6]')
for i in gr:
    if i.text is None:
        Genre.append('-')
    else:
        Genre.append(i.text)
len(Genre),print(Genre)

['Crime, Thriller & Adventure', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Crime, Thriller & Adventure', "Children's Fiction", 'Romance & Sagas', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Romance & Sagas', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Popular Science', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Picture Books', 'Picture Books', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Humour: Collections & General', 'General & Literary Fiction', 'Autobiography: General', 'General & Literary Fiction', 'Biography: The Arts', 'Autobiography: General', 'Picture Books', 'Autobiography: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Science Fiction & Fantasy', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'Fitness & Diet', 'General & Literary Fiction', "Children's Fiction", 'Crime, Thriller & Adventure', 'Fitness & Diet', 'Young Adult Fiction', 'Usage & Writing Guides', 'Food & Drink: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Popular Culture & Media: General Interest', 'Autobiography: The Arts', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Science Fiction & Fantasy', 'Current Affairs & Issues', 'Crime, Thriller & Adventure', 'Autobiography: The Arts', 'General & Literary Fiction', 'Autobiography: The Arts', 'Travel Writing', 'Food & Drink: General', 'General & Literary Fiction', 'National & Regional Cuisine', 'Fitness & Diet', 'Travel Writing', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'Picture Books', 'General & Literary Fiction', 'Autobiography: The Arts', 'Popular Science', "Children's Annuals", 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Food & Drink: General', 'Young Adult Fiction', 'Biography: General', 'Food & Drink: General']

(100, None)

In [27]:
Books=pd.DataFrame({'Rank':Rank,'Book_Name':Book_Name,'Author_Name':Author_Name,'Volumes_Sold':Volumes_Sold,'Publisher':Publisher,'Genre':Genre})
Books

,Rank,Book_Name,Author_Name,Volumes_Sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 7. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [2]:
driver=webdriver.Chrome()
driver.get('https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc')

In [3]:
Name=[]
Year_Span=[]
Ratings=[]
Votes=[]

In [4]:
n=driver.find_elements(By.XPATH,'//div[@class="ipc-title ipc-title--base ipc-title--title ipc-title-link-no-icon ipc-title--on-textPrimary sc-be6f1408-9 srahg dli-title"]//h3')
for i in n:
    if i.text is None:
        Name.append('-')
    else:
        Name.append(i.text)
        
len(Name),print(Name)

['1. Game of Thrones', '2. Breaking Bad', '3. Stranger Things', '4. Friends', '5. The Walking Dead', '6. Sherlock', '7. The Big Bang Theory', '8. Dexter', '9. How I Met Your Mother', '10. The Office', '11. True Detective', '12. Peaky Blinders', '13. Better Call Saul', '14. The Boys', '15. Black Mirror', '16. Rick and Morty', '17. Lost', '18. The Mandalorian', '19. Vikings', '20. Prison Break', '21. The Witcher', '22. Squid Game', '23. Westworld', '24. House of Cards', '25. Money Heist', '26. House', '27. The Last of Us', '28. Attack on Titan', '29. Supernatural', '30. Modern Family', '31. Suits', '32. Daredevil', '33. Narcos', '34. The Sopranos', '35. Arrow', '36. Dark', '37. The Simpsons', '38. Fargo', '39. Mr. Robot', '40. Loki', '41. South Park', '42. The Wire', '43. Death Note', '44. The Flash', '45. House of the Dragon', '46. Family Guy', '47. Homeland', '48. Avatar: The Last Airbender', '49. Brooklyn Nine-Nine', '50. Wednesday', '51. Lucifer', '52. The Lord of the Rings: The Rings of Power', '53. Seinfeld', '54. The Vampire Diaries', '55. Sex Education', '56. Ozark', '57. American Horror Story', '58. Ted Lasso', "59. Grey's Anatomy", '60. Mindhunter', '61. Arrested Development', '62. Sons of Anarchy', '63. Orange Is the New Black', '64. 13 Reasons Why', '65. Aspirants', '66. You', '67. Community', '68. Parks and Recreation', '69. Firefly', '70. Shameless', '71. Two and a Half Men', '72. The Blacklist', '73. Hannibal', '74. The 100', '75. The Umbrella Academy', '76. Scrubs', '77. Succession', '78. Arcane', '79. The Punisher', '80. Futurama', '81. True Blood', '82. Mad Men', '83. Fringe', "84. The Handmaid's Tale", '85. Spartacus', '86. The Crown', '87. Heroes', "88. It's Always Sunny in Philadelphia", '89. The X-Files', '90. Doctor Who', '91. New Girl', '92. Gotham', '93. Once Upon a Time', '94. Euphoria', '95. Jessica Jones', '96. Agents of S.H.I.E.L.D.', '97. One Piece', '98. Downton Abbey', '99. Big Little Lies', '100. The End of the F***ing World']

(100, None)

In [5]:
y=driver.find_elements(By.XPATH,'//div[@class="sc-be6f1408-7 iUtHEN dli-title-metadata"]//span[1]')
for i in y:
    if i.text is None:
        Year_Span.append('-')
    else:
        Year_Span.append(i.text)
        
len(Year_Span),print(Year_Span)

['2011–2019', '2008–2013', '2016–2025', '1994–2004', '2010–2022', '2010–2017', '2007–2019', '2006–2013', '2005–2014', '2005–2013', '2014–', '2013–2022', '2015–2022', '2019–', '2011–', '2013–', '2004–2010', '2019–', '2013–2020', '2005–2017', '2019–', '2021–', '2016–2022', '2013–2018', '2017–2021', '2004–2012', '2023–', '2013–2023', '2005–2020', '2009–2020', '2011–2019', '2015–2018', '2015–2017', '1999–2007', '2012–2020', '2017–2020', '1989–', '2014–2024', '2015–2019', '2021–2023', '1997–', '2002–2008', '2006–2007', '2014–2023', '2022–', '1999–2025', '2011–2020', '2005–2008', '2013–2021', '2022–', '2016–2021', '2022–', '1989–1998', '2009–2017', '2019–2023', '2017–2022', '2011–', '2020–2023', '2005–', '2017–2019', '2003–2019', '2008–2014', '2013–2019', '2017–2020', '2021–', '2018–2024', '2009–2015', '2009–2015', '2002–2003', '2011–2021', '2003–2015', '2013–2023', '2013–2015', '2014–2020', '2019–2024', '2001–2010', '2018–2023', '2021–', '2017–2019', '1999–', '2008–2014', '2007–2015', '2008–2013', '2017–', '2010–2013', '2016–2023', '2006–2010', '2005–', '1993–2018', '2005–2023', '2011–2018', '2014–2019', '2011–2018', '2019–', '2015–2019', '2013–2020', '1999–', '2010–2015', '2017–', '2017–2019']

(100, None)

In [6]:
r=driver.find_elements(By.XPATH,'//span[@class="ipc-rating-star ipc-rating-star--base ipc-rating-star--imdb ratingGroup--imdb-rating"]')
for i in r:
    if i.text is None:
        Ratings.append('-')
    else:
        Ratings.append(i.text)
        
len(Ratings),print(Ratings)

['9.2\n (2.3M)', '9.5\n (2.1M)', '8.7\n (1.3M)', '8.9\n (1.1M)', '8.1\n (1.1M)', '9.1\n (988K)', '8.1\n (860K)', '8.7\n (759K)', '8.3\n (723K)', '9.0\n (699K)', '8.9\n (642K)', '8.8\n (636K)', '9.0\n (636K)', '8.7\n (634K)', '8.7\n (632K)', '9.1\n (594K)', '8.3\n (590K)', '8.7\n (580K)', '8.5\n (575K)', '8.3\n (574K)', '8.0\n (565K)', '8.0\n (531K)', '8.5\n (529K)', '8.6\n (528K)', '8.2\n (526K)', '8.7\n (504K)', '8.8\n (501K)', '9.1\n (498K)', '8.4\n (479K)', '8.5\n (477K)', '8.4\n (471K)', '8.6\n (471K)', '8.8\n (465K)', '9.2\n (462K)', '7.5\n (445K)', '8.7\n (437K)', '8.7\n (433K)', '8.9\n (416K)', '8.5\n (415K)', '8.2\n (406K)', '8.7\n (403K)', '9.3\n (373K)', '8.9\n (372K)', '7.5\n (367K)', '8.4\n (363K)', '8.2\n (362K)', '8.3\n (359K)', '9.3\n (358K)', '8.4\n (356K)', '8.1\n (353K)', '8.1\n (352K)', '7.0\n (348K)', '8.9\n (348K)', '7.7\n (347K)', '8.3\n (346K)', '8.5\n (342K)', '8.0\n (341K)', '8.8\n (338K)', '7.6\n (338K)', '8.6\n (331K)', '8.7\n (322K)', '8.6\n (320K)', '8.0\n (318K)', '7.5\n (313K)', '9.2\n (310K)', '7.7\n (295K)', '8.5\n (290K)', '8.6\n (285K)', '9.0\n (280K)', '8.5\n (279K)', '7.1\n (279K)', '7.9\n (277K)', '8.5\n (274K)', '7.6\n (273K)', '7.9\n (272K)', '8.4\n (269K)', '8.8\n (264K)', '9.0\n (262K)', '8.4\n (262K)', '8.5\n (259K)', '7.9\n (259K)', '8.7\n (258K)', '8.4\n (256K)', '8.4\n (256K)', '8.5\n (255K)', '8.6\n (254K)', '7.5\n (251K)', '8.8\n (249K)', '8.6\n (247K)', '8.6\n (245K)', '7.8\n (244K)', '7.8\n (240K)', '7.7\n (236K)', '8.3\n (234K)', '7.9\n (226K)', '7.5\n (225K)', '9.0\n (225K)', '8.7\n (223K)', '8.4\n (222K)', '8.0\n (217K)']

(100, None)

In [7]:
v=driver.find_elements(By.XPATH,'//div[@class="sc-f24f1c5c-0 cPpOqU"]')
for i in v:
    if i.text is None:
        Votes.append('-')
    else:
        Votes.append(i.text)
        
len(Votes),print(Votes)

['Votes2,259,539', 'Votes2,107,041', 'Votes1,318,334', 'Votes1,077,547', 'Votes1,070,548', 'Votes988,439', 'Votes860,236', 'Votes758,938', 'Votes723,465', 'Votes698,723', 'Votes641,948', 'Votes636,457', 'Votes635,606', 'Votes633,764', 'Votes632,409', 'Votes593,827', 'Votes589,769', 'Votes579,752', 'Votes575,357', 'Votes574,397', 'Votes564,634', 'Votes530,516', 'Votes529,312', 'Votes527,965', 'Votes526,019', 'Votes504,315', 'Votes501,090', 'Votes497,789', 'Votes478,595', 'Votes476,532', 'Votes471,405', 'Votes470,913', 'Votes465,199', 'Votes461,996', 'Votes444,596', 'Votes437,129', 'Votes432,700', 'Votes415,700', 'Votes414,825', 'Votes406,125', 'Votes403,075', 'Votes372,654', 'Votes372,084', 'Votes366,765', 'Votes363,168', 'Votes361,696', 'Votes359,062', 'Votes357,529', 'Votes355,704', 'Votes352,742', 'Votes352,346', 'Votes348,254', 'Votes347,739', 'Votes346,757', 'Votes346,353', 'Votes342,466', 'Votes341,030', 'Votes338,258', 'Votes337,889', 'Votes330,505', 'Votes322,277', 'Votes320,305', 'Votes318,496', 'Votes313,179', 'Votes310,019', 'Votes295,272', 'Votes290,282', 'Votes285,067', 'Votes279,855', 'Votes279,165', 'Votes278,626', 'Votes276,936', 'Votes273,932', 'Votes273,038', 'Votes272,037', 'Votes269,212', 'Votes263,713', 'Votes262,292', 'Votes261,985', 'Votes258,978', 'Votes258,835', 'Votes258,426', 'Votes256,100', 'Votes255,665', 'Votes255,174', 'Votes253,540', 'Votes250,517', 'Votes249,203', 'Votes246,951', 'Votes244,759', 'Votes243,503', 'Votes239,711', 'Votes235,798', 'Votes233,793', 'Votes225,544', 'Votes225,045', 'Votes224,631', 'Votes222,722', 'Votes222,087', 'Votes216,985']

(100, None)

In [10]:
Movies=pd.DataFrame({'Name':Name,'Year_Span':Year_Span,'Ratings':Ratings,'Votes':Votes})
Movies

                                 Name  Year_Span       Ratings           Votes
0                  1. Game of Thrones  2011–2019  9.2\n (2.3M)  Votes2,259,539
1                     2. Breaking Bad  2008–2013  9.5\n (2.1M)  Votes2,107,041
2                  3. Stranger Things  2016–2025  8.7\n (1.3M)  Votes1,318,334
3                          4. Friends  1994–2004  8.9\n (1.1M)  Votes1,077,547
4                 5. The Walking Dead  2010–2022  8.1\n (1.1M)  Votes1,070,548
..                                ...        ...           ...             ...
95         96. Agents of S.H.I.E.L.D.  2013–2020  7.5\n (225K)    Votes225,045
96                      97. One Piece      1999–  9.0\n (225K)    Votes224,631
97                  98. Downton Abbey  2010–2015  8.7\n (223K)    Votes222,722
98                99. Big Little Lies      2017–  8.4\n (222K)    Votes222,087
99  100. The End of the F***ing World  2017–2019  8.0\n (217K)    Votes216,985

[100 rows x 4 columns]

# 8. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year Note: - from the home page you have to go to the Show All Dataset page through code.

In [3]:
driver=webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')

In [4]:
view=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/section[1]/div[2]/a')
view.click()

In [5]:
Name=[]
Data_Type=[]
Task=[]
Attribute_Type=[]
No_Of_Instances=[]
No_Of_Attribute=[]

In [6]:
n=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in n:
    Name.append(i.text)
    
len(Name),print(Name)

['Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine Quality', 'Diabetes']

(10, None)

In [7]:
dt=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]//div[1]/div[2]/span')
for i in dt:
    Data_Type.append(i.text)
    
len(Data_Type),print(Data_Type)

['Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series']

(10, None)

In [8]:
t=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]//div[1]/div[1]/span')
for i in t:
    Task.append(i.text)
    
len(Task),print(Task)

['Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification']

(10, None)

In [9]:
at=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]//table/tbody/tr/td[2]')
for i in at:
    Attribute_Type.append(i.text)
    
len(Attribute_Type),print(Attribute_Type)

['Real', 'Integer, Real', 'Categorical, Integer, Real', 'Real', 'Categorical, Integer', 'Real, Integer', 'Integer, Real', 'Real', 'Real', 'Categorical, Integer']

(10, None)

In [10]:
it=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]//div[1]/div[3]/span')
for i in it:
    No_Of_Instances.append(i.text)
    
len(No_Of_Instances),print(No_Of_Instances)

['150 Instances', '13.61K Instances', '303 Instances', '3.81K Instances', '48.84K Instances', '900 Instances', '178 Instances', '569 Instances', '4.9K Instances', '1 Instances']

(10, None)

In [11]:
na=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]//div[1]/div[4]/span')
for i in na:
    No_Of_Attribute.append(i.text)
    
len(No_Of_Attribute),print(No_Of_Attribute)

['4 Features', '16 Features', '13 Features', '7 Features', '14 Features', '8 Features', '13 Features', '30 Features', '12 Features', '20 Features']

(10, None)

In [12]:
Datasets=pd.DataFrame({'Name':Name,'Data_Type':Data_Type,'Task':Task,'Attribute_Type':Attribute_Type,'No_Of_Instances':No_Of_Instances,'No_Of_Attribute':No_Of_Attribute})
Datasets

,Name,Data_Type,Task,Attribute_Type,No_Of_Instances,No_Of_Attribute
0,Iris,Tabular,Classification,Real,150 Instances,4 Features
1,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,7 Features
4,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features
5,Raisin,Multivariate,Classification,"Real, Integer",900 Instances,8 Features
6,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features
7,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features
8,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1 Instances,20 Features